
#seriesList{
    width: 1200px;
    margin: 0 auto;
    .listTop{
        width: 1200px;
        height: 200px;
        border: 1px solid gainsboro;
        background-color: wheat;
        p{
            border-bottom: 1px solid gainsboro;
            line-height: 30px;
        }
    }
}
.series{
    margin: 20px 0;
    &::after{
        content: "";
        height: 0;
        overflow: hidden;
        visibility: hidden;
        display: none;
    }
}
.series .list{
    width: 230px;
    height: 360px;
    background-color: wheat;
    float: left;
    margin: 5px;
    padding: 16px;
    text-align: center;
        img{
            display: inline-block;
            width: 180px;
            height: 180px;
        }
        .name{
        font-size: 14px;
            overflow: hidden;
            color: #333;
            font-size: 14px;
            text-overflow: ellipsis;
        }
        .price{
            display: inline-block;
            color: red;
            font-size: 14px;
            line-height: 20px;
        }
        h5{
            margin-top: 4px;
            span{
                line-height: 16px;
                padding: 0 5px;
                border: 1px solid red;
                color: red;
                font-size: 12px;
               font-weight: normal;
            }
        }
        h6{
            em{
                color: 12px;
                margin-top: 8px;
                font-style: normal;
            }
        }
}